
.content-header h1.customHeader{
    text-align: center;
}

.cls-login-form{
        padding: 10px 10%;
}
.ultable{
    margin-top: 40px;
     margin-left: 30px;
    margin-right: 30px;
    background-color: #fff;
}
.ulsearch{
   
    margin-left: 30px;
    margin-top: 50px;
}
.aa
{
    background-color: beige;
    margin-top: -20px;
    height: 100%;
}

.content-wrapper
{
    background-color:beige;
}
