<!--
<style>
.ad {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222d32;
}

.ad li {
    float: left;
}

.ad li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ad li a:hover {
    background-color: #CD5C5C;
}
</style>
<div class="adminlog">
    <h1>Fitness App Admin Panel</h1>
</div><br>
<div>
<ul class="ad">
  <li><a class="adactive" ui-sref="userList">User List</a></li>
  <li><a ui-sref="coachList">Coach List</a></li>
  <li><a ui-sref="appointment">Appointment</a></li>
  <li><a ui-sref="terms&Conditions">Terms & Conditions</a></li>
     <li><a ui-sref="privacyPolicy">Privacy & Policy</a></li>
     <li><a ui-sref="aboutUs">About Us</a></li>
</ul>
</div><br>
<div ui-view>
</div>

-->
