<div class="aa">
<div class="ultable">
<table style="width:100%" border="1" color:#fff; border-collapse:collapse>
  <thead>
    <th>Sl. No.</th>
    <th>Salutation</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>User Name</th>
    <th>Email Address</th>
    <th>Status</th>
    <th>Edit</th>
  </thead> 
  <tbody>
    <tr ng-repeat = "person in people | orderBy:'firstName'">
      <td>{{$index+1}}</td>
      <td>{{person.salutation}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.userName}}</td>
      <td>{{person.eMail}}</td>
      <td><button type="button" ng-click="changeStatus(person)">{{(person.status)?"active":"inactive"}}</button></td>
      <td><button type="button" ui-sref="dashBoard.editPerson({personDetails:person})">Edit</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>






























<!--
<style>
.ad {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222d32;
}

.ad li {
    float: left;
}

.ad li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ad li a:hover {
    background-color: #CD5C5C;
}
</style>
<div class="adminlog">
    <h1>Fitness App Admin Panel</h1>
</div><br>
<div>
<ul class="ad">
  <li><a class="adactive" ui-sref="userList">User List</a></li>
  <li><a ui-sref="coachList">Coach List</a></li>
  <li><a ui-sref="appointment">Appointment</a></li>
  <li><a ui-sref="terms&Conditions">Terms & Conditions</a></li>
     <li><a ui-sref="privacyPolicy">Privacy & Policy</a></li>
     <li><a ui-sref="aboutUs">About Us</a></li>
</ul>
</div><br>
<div ui-view>
</div>

-->
