<div class="content-wrapper" style="margin-left:0px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="customHeader">
        Change Password 
      </h1>
    </section>

<section class="content cls-login-form">
      <!-- Small boxes (Stat box) -->
      <form class="">
          
  <fieldset class="form-group ">
        <label for="formGroupExampleInput">Old Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput" name="oldp" ng-model="myForm.oldP" placeholder="Old Password" required>
   
  </fieldset>
          
  <fieldset class="form-group">
    <label for="formGroupExampleInput2">New Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput2" name="newpwd" ng-model="myForm.newpwd" placeholder="New Password" required>
      <span ng-show="!myForm.adminpsw.$error.required && myForm.adminpsw.$dirty">Passwords is required.</span>
      <p ng-class="{ 'cls-pswrdMissmatch':cpwd!=myForm.newpwd && cpwd.length>0}"></p>
  </fieldset>
          
           <fieldset class="form-group">
    <label for="formGroupExampleInput2">Confirm Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput2" name="cpwd" ng-model="myForm.cpwd" placeholder="confirm Password" required>
     <sub style="color: red;" ng-show="cpwd!=myForm.newpwd && cpwd.length>0">Password Mismatch ..!!</sub>
  </fieldset>
          
          <center>
          <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
          </center>
     

</form>
    </section>
  </div>




