<div class="aa">
    <center><h1 class="tc">Edit Terms & Conditions</h1>
<br>
       
        <textarea style="height:500px; width:75%;" ng-model="tcUpdate.tc">
        </textarea>
        <br>
        
<input type="button" value="Save" style="background-color:skyblue; width:100px; border-radius:5px;" ng-click="update(tcUpdate.tc)">
        <a ui-sref="dashBoard.terms&Conditions"><input type="button" value="Cancel" style="background-color:skyblue; width:100px; border-radius:5px;"></a>
        </center>
</div>