<div class="content-wrapper" style="margin-left:0px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="customHeader">
        Forgot Password
      </h1>
    </section>
<section class="content cls-login-form">
     
      <form class="">
  <fieldset class="form-group ">
    <label for="formGroupExampleInput">Email</label>
    <input type="email" class="form-control" id="formGroupExampleInput" ng-model="myForm.email" placeholder="Enter Email">
  </fieldset>
   <button type="submit" class="btn btn-primary" ng-click="forgotPassword();">Forgot password</button>
</form>
    </section>
  </div>