<div class="aa">
<center>
<h1> User List</h1></center>
  <!--  <button type="submit" ng-click="userprofile()">userprofile</button>-->
<div class="ulsearch">
<input type ="text" ng-model="search.keyword" placeholder="Search via users" style="width:75%">
</div>
<div class="ultable">
<table style="width:100%" border="1" color:#fff; border-collapse:collapse>

    <th>S. No</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Contact no</th>
    <th> Age</th>
    <th> Action</th>


	<tbody>
		<tr ng-repeat = "alluserDetail in alluserDetails | filter:{firstname:search.keyword}" >
            <td>{{alluserDetail.serialno}}</td>
			<td>{{alluserDetail.firstname}}</td>
            <td>{{alluserDetail.lastname}}</td>
            <td>{{alluserDetail.email}}</td>
			<td>{{alluserDetail.contact}}</td>
            <td>{{alluserDetail.age}}</td>
			<td>
        <a type="button" ng-href="#/dashBoard/viewUser/{{alluserDetail._id}}">View</a>
         &nbsp;       
       <a type="button" ui-sref="^.editUser({alluserDetails:alluserDetail})">Edit</a>
            &nbsp;    
        <a type="button" ng-click="userdelete(alluserDetail._id)">DELETE</a></td>
            <td></td>
            
		</tr>
	</tbody>
</table></div>
</div>

