<table>
		<tr>
			<th>Serial No</th>
			<th>First Name</th>
            <th>Last Name</th>
			<th>Email</th>
            <th>Contact</th>
			<th>Age</th>
            <th>Action</th>
			
        
		</tr>
	
	<tbody>
		<tr ng-repeat = "alluserDetail in alluserDetails">
            <td>{{alluserDetail.serialno}}</td>
			<td>{{alluserDetail.firstname}}</td>
            <td>{{alluserDetail.lastname}}</td>
            <td>{{alluserDetail.email}}</td>
			<td>{{alluserDetail.contact}}</td>
            <td>{{alluserDetail.age}}</td>
         <!--   <td><a type="button" class="btn btn-info" ng-href="#/edituser/{{alluserDetail._id}}">EDIT</a></td>-->
            
            <td><button type="button" class="btn btn-info" ui-sref="^.editCoach({alluserDetails:alluserDetail})">Update</button></td>
        
            
            
		</tr>
	</tbody>
</table>