<div class="aa">
<center>
<h1>View Coach</h1></center>
 
<div class="ultable">
<table style="width:100%" border="1" color:#fff; border-collapse:collapse>

    <th>S. No</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Contact no</th>
    <th> Age</th>
    <th> Action</th>
    
	<tbody ng-repeat="alluserDetail in alluserDetails">
		   <td>{{alluserDetail.serialno}}</td>
			<td>{{alluserDetail.firstname}}</td>
            <td>{{alluserDetail.lastname}}</td>
            <td>{{alluserDetail.email}}</td>
			<td>{{alluserDetail.contact}}</td>
            <td>{{alluserDetail.age}}</td>
			<td>
                
    <a type="button" ui-sref="^.editCoach({alluserDetails:alluserDetail})">Edit</a></td>
            
	
	</tbody>
</table></div>
</div>




